<div class="navbar-brand" href="#" pageScroll pageScrollTarget="#top" [pageScrollDuration]="0" (click)="scrollTop()">
  <img src="assets/img/logo.png" alt="">
</div>
<div class="nav-links">
  <ul>
    <li *ngFor="let sectionName of sectionNames$ | async">
      <button *ngIf="activeSectionName$ | async as activeSectionName" mat-button
              [ngClass]="{ 'active-section': sectionName === activeSectionName}"
              pageScroll [pageScrollTarget]="'#'+ sectionName">
        {{ sectionName }}
      </button>
    </li>
  </ul>
</div>
<div class="style-toggle">
  <button mat-raised-button class="bulb" (click)="themeChanged()"><mat-icon>lightbulb_outline</mat-icon></button>
</div>
