@import '../../../../variables';

:host {
  display: block;

  .container {
    padding: 100px 0;
  }
}

button {
  color: white;
  font-family: $app-font-bold;
  font-size: 18px;
  height: 60px;
}

.top-fit {
  margin-bottom: 0;
  margin-top: 15px;
}
