<div class="container">
  <div fxLayout="col">
    <div fxFlex="70" class="text-left text-center-mobile wow animated fadeInUp">
      <h2 class="heading white top-fit">Didn't find the job you're looking for?</h2>
      <h4 class="subheading white no-margin">Tell us what you want to do to build the next great software company.</h4>
    </div>
    <div fxFlex="30" fxFlexAlign="center" class="text-center-mobile">
      <button mat-button class="mat-elevation-z2  wow animated fadeInUp">Invent your own job!</button>
    </div>
  </div>
</div>
