<div class="container">
  <div fxLayout="row" *ngIf="contactData; else loading">
    <div fxFlex="50" class="text-left text-center-mobile contact-details">
      <h3 class="heading no-margin wow animated fadeInUp">{{ contactData.title }}</h3>
      <h4 class="subheading muted no-margin wow animated fadeInUp">{{ contactData.subTitle }}</h4>
      <div class="details">
        <h6 class="heading no-margin wow animated fadeInUp">{{ contactData.address.title }}</h6>
        <p class="small muted no-margin wow animated fadeInUp">
          {{ contactData.address.street }}
          <br>
          {{ contactData.address.place }}</p>
      </div>
      <div class="details">
        <h4 class="subheading accent no-margin wow animated fadeInUp">
          {{ contactData.phone }}
          <br>
          {{ contactData.email }}
        </h4>
      </div>
    </div>
    <form #contactForm fxFlex="50" fxLayout="column" fxLayoutGap="20px" [formGroup]="contactFormGroup"
          class="mail-form wow animated fadeInUp" (ngSubmit)="onSubmit()" *ngIf="!(formSubmitted$ | async); else submitted">
      <div fxLayout="row">
        <div fxFlex="50" class="field-padding">
          <mat-form-field>
            <input matInput type="text" placeholder="Name" name="name" formControlName="name" required>
          </mat-form-field>
        </div>
        <div fxFlex="50" class="field-padding">
          <mat-form-field>
            <input matInput type="email" placeholder="Email" name="email" formControlName="email" required>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="column" class="field-padding">
        <mat-form-field>
          <input matInput type="text" placeholder="Subject" name="subject" formControlName="subject" required>
        </mat-form-field>
      </div>
      <div class="row field-padding">
        <mat-form-field>
          <textarea matInput name="content" rows="10" placeholder="Message. . ."
                    formControlName="content" required></textarea>
        </mat-form-field>
      </div>
      <div class="row field-padding form-bottom">
        <re-captcha formControlName="recaptcha" required></re-captcha>
        <button mat-raised-button color="primary" type="submit"
                [disabled]="!contactFormGroup.valid || (formsubmitting$ | async)">
          Send
        </button>
      </div>
    </form>
  </div>
</div>
<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
<ng-template #submitted>
  Contact form has been submitted. We will reply asap.
</ng-template>
