:host {
  display: block;
}

mat-form-field {
  width: 100%;
}

.field-padding {
  padding-left: 16px;
  padding-right: 16px;
}

.contact-details .details {
  margin-top: 70px;

  mat-icon {
    margin-right: 16px;
  }
}

.form-bottom {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.undecorated-link {
  color: #43a047;
  text-decoration: none;
}
