<div class="container">
  <div fxLayout="row" fxLayout.lt-lg="column" *ngIf="contactData; else loading">
    <div fxFlex="50" class="text-left text-center-mobile contact-details">
      <h3 class="heading no-margin wow animated fadeInUp">{{ contactData.title }}</h3>
      <p class="small muted muted-light wow  fadeInUp animated">{{ contactData.subTitle }}</p>
      <div class="details">
        <h6 class="heading no-margin wow animated fadeInUp">{{ contactData.address.title }}</h6>
        <p class="small muted no-margin wow animated fadeInUp" fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.lt-lg="center center">
          <mat-icon>location_city</mat-icon>
          {{ contactData.address.street }},
          {{ contactData.address.place }}
        </p>
        <p class="small muted no-margin wow animated fadeInUp" fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.lt-lg="center center">
          <mat-icon>business</mat-icon>
          {{ contactData.vat }}
        </p>
      </div>
      <div class="details">
        <h4 class="subheading accent no-margin wow animated fadeInUp" fxLayout="column">
          <span class="icon-text-wrapper" fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.lt-lg="center center">
            <mat-icon>phone</mat-icon>
            <a class="undecorated-link" href="tel:{{ contactData.phone }}">{{ contactData.phone }}</a>
          </span>
          <span class="icon-text-wrapper" fxLayout="row" fxLayoutAlign="start center" fxLayoutAlign.lt-lg="center center">
            <mat-icon>email</mat-icon>
            <a class="undecorated-link" href="mailto:{{ contactData.email }}">{{ contactData.email }}</a>
          </span>
        </h4>
      </div>
    </div>
    <form #contactForm fxFlex="50" fxLayout="column" fxLayoutGap="20px" [formGroup]="contactFormGroup"
          class="mail-form wow animated fadeInUp" (ngSubmit)="onSubmit()"
          *ngIf="!(formSubmitted$ | async); else submitted">
      <div fxLayout="row">
        <div fxFlex="50" class="field-padding">
          <mat-form-field>
            <input matInput type="text" placeholder="Name" name="name" formControlName="name" required>
          </mat-form-field>
        </div>
        <div fxFlex="50" class="field-padding">
          <mat-form-field>
            <input matInput type="email" placeholder="Email" name="email" formControlName="email" required>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="column" class="field-padding">
        <mat-form-field>
          <input matInput type="text" placeholder="Subject" name="subject" formControlName="subject" required>
        </mat-form-field>
      </div>
      <div class="row field-padding">
        <mat-form-field>
          <textarea matInput name="content" rows="10" placeholder="Message. . ."
                    formControlName="content" required></textarea>
        </mat-form-field>
      </div>
      <div class="row field-padding form-bottom" fxLayout="row" fxLayout.lt-lg="column">
        <re-captcha formControlName="recaptcha" required></re-captcha>
        <button mat-raised-button color="primary" type="submit"
                [disabled]="!contactFormGroup.valid || (formsubmitting$ | async)">
          Send
        </button>
      </div>
    </form>
  </div>
</div>
<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
<ng-template #submitted>
  Contact form has been submitted. We will reply asap.
</ng-template>
