<div class="container">
  <div fxLayout="col" fxLayout.lt-lg="column" *ngIf="careersData; else loading">
    <div fxFlex="50">
      <div fxLayout fxLayoutAlign="center center" fxLayoutGap="10%" class="careers">
        <div>
          <img src="assets/img/team-widget.png" alt="" class="pic">
        </div>
        <div class="careers-title">
          <h2 class="heading wow animated fadeInUp">{{ careersData.title }}</h2>
          <h4 class="subheading muted wow animated fadeInUp">{{ careersData.subTitle }}</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="small muted muted-light wow animated fadeInUp">{{ careersData.content1 }}</p>
          <h3 class="subheading wow animated fadeInUp">{{ careersData.reason }}</h3>
          <mat-accordion class="wow animated fadeInUp" >
            <mat-expansion-panel *ngFor="let reason of careersData.reasons">
              <mat-expansion-panel-header>
                <mat-panel-title class="heading"><mat-icon>check circle</mat-icon>{{ reason.title }}</mat-panel-title>
                <mat-panel-description></mat-panel-description>
              </mat-expansion-panel-header>
              <p class="small muted muted-light wow animated fadeInUp">{{ reason.description }}</p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
    <div fxFlex="35" fxFlexOffset="15">
      <h3 class="heading wow animated fadeInUp">{{ careersData.jobsTitle }}</h3>
      <div class="jobs app-foreground-sub">
        <div class="job wow animated fadeInUp" *ngFor="let job of careersData.jobs">
          <h4 class="heading">{{ job.title }}, <span class="light">{{ job.location }}</span></h4>
          <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutAlign.lt-lg="center space-evenly">
            <div class="date">
              <mat-icon>event</mat-icon>
              <span>{{ job.date | date: 'dd/MM/yyyy' }}</span>
            </div>
            <div class="details">
              <button mat-raised-button color="primary" class="mat-elevation-z2" (click)="openJobDetails(job)">
                {{ careersData.jobDetails }}
              </button>
            </div>
          </div>
        </div>
        <button mat-button class="mat-elevation-z2">
          {{ careersData.allJobs }}
        </button>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
