<div class="container">
  <div fxLayout="col">
    <div fxFlex="50">
      <div fxLayout class="careers">
        <div fxFlex="30">
          <img src="assets/img/team-widget.jpg" alt="" class="pic">
        </div>
        <div fxFlex="60" fxFlexOffset="10" class="careers-title">
          <h2 class="heading wow animated fadeInUp">Careers</h2>
          <h4 class="subheading muted wow animated fadeInUp">Create your opportunity</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 class="subheading gray wow animated fadeInUp">Do you have dreams? Do you enjoy a challenge? Do you want to unleash your imagination and creativity?</h3>
          <p class="small muted-light wow animated fadeInUp">We're looking for great people to join us. If you love code and want to build the next great software company, Smart Software is for you.
          </p>
        </div>
      </div>
    </div> <!-- col-md-6 careers -->
    <div fxFlex="35" fxFlexOffset="15">
      <h3 class="heading wow animated fadeInUp">Our latest jobs</h3>
      <div class="jobs">
        <div class="job wow animated fadeInUp">
          <h4 class="heading">Business Analyst, <span class="light">Brussels, Belgium</span></h4>
          <div class="date">
            <mat-icon>event</mat-icon>
            <span>06/02/2018</span>
          </div>
        </div>
        <div class="job wow animated fadeInUp">
          <h4 class="heading">Javascript Developer, <span class="light">Gent, Belgium</span></h4>
          <div class="date">
            <mat-icon>event</mat-icon>05/02/2018
          </div>
        </div>
        <div class="job wow animated fadeInUp">
          <h4 class="heading">Java Developer, <span class="light">Brussels, Belgium</span></h4>
          <div class="date">
            <mat-icon>event</mat-icon>02/01/2018
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
