<div class="container">
  <div fxLayout="col" *ngIf="careersData; else loading">
    <div fxFlex="50">
      <div fxLayout class="careers">
        <div fxFlex="30">
          <img src="assets/img/team-widget.jpg" alt="" class="pic">
        </div>
        <div fxFlex="60" fxFlexOffset="10" class="careers-title">
          <h2 class="heading wow animated fadeInUp">{{ careersData.title }}</h2>
          <h4 class="subheading muted wow animated fadeInUp">{{ careersData.subTitle }}</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3 class="subheading wow animated fadeInUp">{{ careersData.content1 }}</h3>
          <p class="small muted muted-light wow animated fadeInUp">{{ careersData.content2 }}</p>
        </div>
      </div>
    </div>
    <div fxFlex="35" fxFlexOffset="15">
      <h3 class="heading wow animated fadeInUp">{{ careersData.jobsTitle }}</h3>
      <div class="jobs app-foreground-sub">
        <div class="job wow animated fadeInUp" *ngFor="let job of careersData.jobs">
          <h4 class="heading">{{ job.title }}, <span class="light">{{ job.location }}</span></h4>
          <div class="date">
            <mat-icon>event</mat-icon>
            <span>{{ job.date | date: 'dd/MM/yyyy' }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
