:host {
  display: flex;
  height: 64px;
  padding-bottom: 20px;
  padding-top: 20px;
  top: 0;
  width: 100%;
  z-index: 2;

  > .container {
    align-items: center;
    display: flex;
    justify-content: space-around;
  }
}

ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;

  li {
    float: left;
    margin-left: 40px;

    button {
      font-size: 18px;
    }
  }
}

:host(.sticky) {
  position: fixed;
}

.active-section {
  color: #1c92d2;
}

.style-toggle {
  float: right;
}
