<div class="container">
  <form fxLayout="column" [formGroup]="tellUsFormGroup" id="submit-frm" class="sample-form"
        (ngSubmit)="onSubmit()" *ngIf="!(formSubmitted$ | async); else submitted">
    <div>
      <mat-form-field>
          <textarea matInput name="body" rows="10" placeholder="Tell us about your job..."
                    formControlName="content" required></textarea>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="stretch center">
      <div fxFlex="25">
        <mat-form-field>
          <input matInput type="text" placeholder="Name" name="firstname" formControlName="name" required>
        </mat-form-field>
      </div>
      <div fxFlex="25">
        <mat-form-field>
          <input matInput type="email" placeholder="Email" name="email" formControlName="email" required>
        </mat-form-field>
      </div>
      <div fxFlex="30">
        <re-captcha formControlName="recaptcha" required></re-captcha>
      </div>
      <div fxFlex="20">
        <button mat-raised-button color="primary" type="submit"
                [disabled]="!tellUsFormGroup.valid || (formsubmitting$ | async)">
          Apply now
        </button>
      </div>
    </div>
  </form>
</div>
<ng-template #submitted>
  Tell us form has been submitted. We will reply asap.
</ng-template>
