<div #canvasContainer id="canvas-container">
</div>
<div class="container header-container" fxLayout>
  <div fxFlex="50">
    <img id="header-logo" src="assets/img/logo-stacked.png" alt="Smart Sofware logo">
  </div>
  <div fxFlex="50" *ngIf="headerData$ | async as headerData">
    <h2 class="heading">{{ headerData.title }}</h2>
    <h4 class="subheading">{{ headerData.subTitle }}</h4>
    <p>{{ headerData.content1 }}</p>
    <div fxLayout fxLayoutAlign="center" fxLayoutGap="32px">
      <button mat-button pageScroll pageScrollTarget="#SERVICES" class="mat-elevation-z2">
        {{ headerData.action1 }}
      </button>
      <button mat-raised-button color="primary" class="mat-elevation-z2" (click)="clickTellUs()">
        {{ headerData.action2 }}
      </button>
    </div>
  </div>
</div>
