<div #canvasContainer id="canvas-container">
</div>
<div class="container header-container" fxLayout>
  <div fxFlex="50">
    <img id="header-logo" src="assets/img/logo-stacked.png" alt="Smart Sofware logo">
  </div>
  <div fxFlex="50">
    <h2 class="heading">Hello, we are Smart Software</h2>
    <h4 class="subheading">We help to grow and outperform your organization</h4>
    <p>We build applications that generate revenue using the latest in web and data technologies. Our approach is
      different than most, because we take the time to learn your business inside-and-out before we make a single
      technology choice.</p>
    <div fxLayout fxLayoutAlign="center" fxLayoutGap="32px">
      <button mat-button pageScroll pageScrollTarget="#SERVICES" class="mat-elevation-z2">
        What we do
      </button>
      <button mat-raised-button color="primary" pageScroll pageScrollTarget="#CONTACT" class="mat-elevation-z2">
        Tell us about your project!
      </button>
    </div>
  </div>
</div>
