<div class="container">
  <div fxLayout="col" *ngIf="servicesData$ | async as servicesData; else loading">
    <div fxFlex="50">
      <div class="book-preview">
        <div class="tablet-background"></div>
        <img src="assets/img/kindle.png" class="background-device" alt="">
        <span class="img-helper"></span>
        <div class="book">
          <img src="assets/img/application_layers.png" class="tablet-screen" alt="">
        </div>
      </div>
    </div>
    <div fxFlex="50">
      <h2 class="heading wow animated fadeInUp">{{ servicesData.title }}</h2>
      <h4 class="subheading wow animated fadeInUp">{{ servicesData.subTitle }}</h4>
      <p class="small muted wow animated fadeInUp">{{ servicesData.content1 }}</p>
      <p class="small muted wow animated fadeInUp">{{ servicesData.content2 }}</p>
    </div>
  </div>
</div>
<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
