<div class="container">
  <div fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="center center" *ngIf="servicesData; else loading">
    <div>
      <h2 class="heading wow animated fadeInUp">{{ servicesData.title }}</h2>
      <h4 class="subheading wow animated fadeInUp">{{ servicesData.subTitle }}</h4>
      <p class="small muted wow animated fadeInUp">{{ servicesData.content1 }}</p>
    </div>
    <div class="job wow animated fadeInUp" *ngFor="let service of servicesData.services">
      <h4 class="heading">{{ service.service }}</h4>
      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutAlign.lt-lg="center space-evenly">
        <p class="small muted wow animated fadeInUp">{{ service.description }}</p>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
