<header id="top">
  <app-header [headerData]="headerData$ | async" (tellUsClick)="openTellUs()"></app-header>
</header>
<nav>
  <app-navbar class="app-nav-background app-nav-foreground" (themeChange)="themeChanged($event)"></app-navbar>
  <app-navbar class="navbar-sticky mat-elevation-z6 app-nav-background app-nav-foreground"
              *ngIf="isNavbarSticky$ | async" (themeChange)="themeChanged($event)"></app-navbar>
</nav>

<section>
  <app-section sectionName="SERVICES">
    <app-services [servicesData]="servicesData$ | async"></app-services>
  </app-section>
</section>

<section>
  <app-slogan [sloganData]="sloganData$ | async" class="text-alt background-alt"></app-slogan>
</section>

<section>
  <app-section sectionName="JOBS">
    <app-careers [careersData]="careersData$ | async"></app-careers>
  </app-section>
</section>

<section>
  <app-call-to-action [callToActionData]="callToActionData$ | async" class="text-alt background-alt"
                      (tellUsClick)="openCreateYourOwnJob()"></app-call-to-action>
</section>

<section>
  <app-section sectionName="CONTACT">
    <app-contact [contactData]="contactData$ | async"></app-contact>
  </app-section>
</section>

<footer>
  <app-footer></app-footer>
</footer>
