<header id="top">
  <app-header (tellUsClick)="openTellUs($event)"></app-header>
</header>
<nav>
  <app-navbar></app-navbar>
  <app-navbar class="navbar-sticky mat-elevation-z6" *ngIf="isNavbarSticky$ | async"></app-navbar>
</nav>

<section>
  <app-section sectionName="SERVICES">
    <app-services></app-services>
  </app-section>
</section>

<section>
  <app-slogan></app-slogan>
</section>

<section>
  <app-section sectionName="CAREERS">
    <app-careers></app-careers>
  </app-section>
</section>

<section>
  <app-call-to-action (tellUsClick)="openTellUs($event)"></app-call-to-action>
</section>

<section  class="section-appearing" [ngClass]="{'section-visible': tellUsOpen$ | async}">
  <app-tell-us id="tell-us"></app-tell-us>
</section>

<section>
  <app-section sectionName="CONTACT">
    <app-contact></app-contact>
  </app-section>
</section>
