:host {
  height: 100%;
  position: absolute;
  width: 100%;
}

h2 {
  margin-top: 13px;
}

header {
  height: 100%;
  width: 100%;
}

.navbar-sticky {
  position: fixed;
}

hr {
  background: red;
  border: 0;
  border-top: 1px solid #434857;
  color: red;
  margin-bottom: 21px;
}

.section-appearing {
  background-color: #eee;
  height: 0;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform .26s ease;
}

.section-visible {
  height: auto;
  transform: scaleY(1);
}
