:host {
  height: 100%;
  position: absolute;
  width: 100%;
}

h2 {
  margin-top: 13px;
}

header {
  width: 100%;
}

.header-fullscreen {
  height: 100vh;
}

.header-fit-content {
  height: auto;
}

.navbar-sticky {
  position: fixed;
}

.menu-button-overlay {
  left: 16px;
  position: fixed;
  top: 16px;
  z-index: 9999;
}

mat-sidenav {
  width: 300px;
}
