:host {
  height: 100%;
  position: absolute;
  width: 100%;
}

h2 {
  margin-top: 13px;
}

header {
  width: 100%;
}

.header-fullscreen {
  height: 100%;
}

.header-fit-content {
  height: auto;
}

.navbar-sticky {
  position: fixed;
}
