@import '~@angular/material/theming';

@include mat-core();
@import './theme';
@import './variables';

@font-face {
  font-family: $app-font;
  src: url('assets/fonts/ProximaNova-Regular.otf');
}

@font-face {
  font-family: $app-font-bold;
  src: url('assets/fonts/ProximaNova-Bold.otf');
}

body {
  display: block;
  font-family: $app-font;
  font-size: 14px;
  margin: 0;
}

.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.navbar-brand {
  cursor: pointer;
}

.nav-links {
  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
}

.heading {
  font-family: $app-font-bold;
  line-height: 38px;
}

.subheading {
  font-family: $app-font;
  line-height: 38px;
  margin: 30px 0 50px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

section .container {
  padding: 40px 16px;
}

.light {
  font-family: $app-font;
}

.no-margin {
  margin: 0 !important;
}

button {
  font-family: $app-font-bold !important;
  font-size: 18px !important;
  overflow: hidden;
}

button.shine:after {
  animation: shine 1.5s infinite linear alternate;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 1%,
      rgba(255, 255, 255, 0.5) 2%,
      rgba(255, 255, 255, 0.0) 100%
  );
  content: "";
  height: 200%;
  left: -1510%;
  opacity: 0;
  position: absolute;
  top: -310%;

  transform: rotate(40deg);
  width: 200%;
}

button.shine:active:after {
  opacity: 0;
}

@keyframes shine{
  to {
    left: 100%;
    opacity: 1;
    top: -100%;
    transition-duration: .7s, .7s, .15s;
    transition-property: left, top, opacity;
    transition-timing-function: ease;
  }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 500;
}

h4, .h4, h5, .h5, h6, .h6 {
  margin-bottom: 10px;
  margin-top: 10px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 30px;
  line-height: 42px;
  margin: 20px 0;

  &.small {
    font-size: 18px;
    line-height: 36px;
  }
}
