@import '~@angular/material/theming';

$app-primary-palette: mat-palette($mat-light-green);
$app-accent-palette: mat-palette($mat-light-blue);
$app-warn-palette: mat-palette($mat-deep-orange);

$app-theme: mat-dark-theme($app-primary-palette, $app-accent-palette, $app-warn-palette);

$app-background-palette: map-get($app-theme, background);
$app-foreground-palette: map-get($app-theme, foreground);

$app-primary: mat-color($app-primary-palette);
$app-accent: mat-color($app-accent-palette);
$app-warn: mat-color($app-warn-palette);
$app-background: mat-color($app-background-palette, background);
$app-header-background: #1c92d2;
$app-header-foreground: #fff;
$app-body-background1: #fff;
$app-body-background2: $app-primary;
$app-foreground: mat-color($app-foreground-palette, base);
$app-link: mat-color($app-foreground-palette, text);
$app-link-hover: mat-color($app-foreground-palette, text, .3);

$app-font: 'Proxima';
$app-font-bold: 'Proxima Bold';

$white: #fff;
